:root {
  --color-p: #383838;
  --color-p-l: #e1e1e1;
  --color-p-d: #181818;

  --color-s: #00bfff;
  --color-s-l: #a8e9ff;
  --color-s-d: #004a63;

  --color-bg: #ffffff;
  --color-bg-l: #838383;
  --color-bg-d: #000000;
}
